{%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<h2>{{ question.subject }}</h2>
<div>
    {{ question.content }}
</div>
<h5>{{ question.answer_set.count }} 개의 답변이 있습니다.</h5>
<div>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.content }}</li>
    {%  endfor %}
</div>

<form action="{% url 'pybo:answer_create'  question.id%}" method="post">
    {%  csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변 등록">
</form>